@charset "UTF-8";

@font-face {
  font-family: 'cava';
  src: url('cavamomentje.ttf');
}

@font-face {
  font-family: 'mannen';
  src: url('mannen.ttf');
}

@font-face {
  font-family: 'mexicaans';
  src: url('mexicaans.ttf');
}

@font-face {
  font-family: 'suprise';
  src: url('suprise.ttf');
}

@font-face {
  font-family: 'toast';
  src: url('toast.ttf');
}

@font-face {
  font-family: 'bebas';
  src: url('BEBAS.ttf');
}

@font-face {
  font-family: 'score';
  src: url('CollegiateFLF.ttf');
}

@font-face {
  font-family: 'timer';
  src: url('led.ttf');
}

#pushes-div {
	font-family: 'score';
	margin: auto;
	margin-top: 40px;
  width: ;
	text-align: center;
	color: whitesmoke;
	font-size: 230pt;
	height: 200px;
}

#timer {
	font-family: 'timer';
  -webkit-animation-duration: 5s;
	font-size: 50pt;
	position: fixed;
	bottom: 0;
	right: 20px;
	color: whitesmoke;
}

body {
	background-image: url('images/backgroundMVT.jpg');
	background-size: cover;
}

#eventtext {
	color: whitesmoke;
	position: fixed;
  -webkit-animation-duration: 3s;
	left: 80px;
	bottom: 200px;
}

.cava {
	font-family: 'cava';
	font-size: 200pt;
}

.mannen {
	font-family: 'mannen';
	width: 1000px;
	font-size: 100pt;
}

.mexico {
	font-family: 'mexicaans';
	font-size: 90pt;
}

.toast {
	font-family: 'toast';
	font-size: 95pt;
	width: 1000px;
}

.suprise {
	font-family: 'suprise';
	font-size: 100pt;
	width: 1000px;
	bottom: 100px;
}

#eventsubtext {
	-webkit-animation-duration: 3s;
	color: whitesmoke;
	position: fixed;
	font-family: 'bebas';
	left: 80px;
	bottom: 120px;
	font-size: 40pt;
}

#beer-image {
	width: 300px;
	height: 500px;
	bottom: 40px;
	left: 100px;
	position: fixed;
	display: none;
}

#togo {
	text-align:center;
	width: 300px;
	bottom: 170px;
	left: 460px;
	font-family: 'bebas';
	position: fixed;
	color: whitesmoke;
	font-size: 60pt;
}